@using SpendCA.Core.Entities

<div class="wrapper-content">
    @foreach (var month in ViewData["monthsSummary"] as List<MonthSummaryViewModel>)
    {
        <div class="ibox">
            <div class="ibox-title cursor-pointer" onclick="loadMonth(@month.Year, @month.Month)">
                <div class="row">
                    <div class="col">
                        <h3>@month.MonthDescription - @month.MonthTotal.ToString("c")</h3>
                    </div>
                </div>
            </div>
            <div class="ibox-content pb-0">
                <div class="row">
                    @foreach (var category in month.Categories)
                    {
                        <div class="col-lg-1 pr-0">
                            <div class="ibox mb-0">
                                <div class="ibox-title cursor-pointer border-0" onclick="loadSummaryByCategory(@category.Id) ">
                                    <h5>@category.Category</h5>
                                </div>
                                <div class="ibox-content px-0 pt-2 text-center">
                                    <h3 class="no-margins">@category.Total.ToString("c")</h3>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    <script>

        function loadSummaryByCategory(catId){
            window.location.href = '@Url.Action("SpendsByCategory", "Home")?SelectedCategories=' + catId;
            
        }

        function loadMonth(year, month){
            window.location.href = '@Url.Action("Index", "Spends")?Year=' + year + '&Month=' + month;
        }


    </script>
}
